#header {
	display:block;
	width:640px;
	text-align:center;
	margin:0px auto 10px auto;
}

#header .logo {
    display:inline;
    text-align:center;
    margin:0px auto 15px auto;
    width:400px;
}

#footer {
	margin:15px auto 15px auto;
	text-align:center;
}

body {
	background-image: url(../images/background.png);
	padding: 30px;
}

a {
    font-family: 'Varela Round', sans-serif;
    font-color: #333;
}

p {
	font-family: 'Varela Round', sans-serif;
    font-color: #333;
}

a:active {
    color:#333;
}

.fancy {
    font-family: 'Indie Flower', cursive;
	font-size: 24px;
	font-color: #333;
}
textarea { 
	font-family: 'Indie Flower', cursive;
	font-size: 16px;
	font-color: #333;
}


.buttonContainer {
    width:640px;
    margin:0px auto;
}

.button {
    height:60px;
    padding-top:24px;
    padding-left:5px;
    text-align:center;
    text-decoration:none;
    font-size: 30px;
}

.button a {
    padding-top:30px;
    text-align:center;
    text-decoration:none;
    font-size: 30px;
}

.back-button {
    background-image:url('../images/button-back.png');
    width:208px;
    margin:auto 30px 10px;
}

.small-button {
    background-image:url('../images/button-small.png');
    width:320px;
}

.big-button {
    font-size: 1.5em;
    background: url('../images/button-big.png') transparent no-repeat;
    border: none;
    cursor: pointer;
    width:920px;
    text-align: center;
    display: block;
    margin:0px auto;
    }

.big-button a, input.big-button {
    display: block;
    padding: 25px;
    padding-bottom: 35px;
    color: black;
    text-decoration: none;
}


.postit-write {
    margin:0px auto;
    background: url('../images/postit-write.png') transparent no-repeat;
    padding: 50px;
    width:540px;
    height:149px;
    border: none;
}

.postit-draw {
    margin:0px auto;
    background-image:url('../images/postit-draw.png');
    background-repeat:no-repeat;
    width:640px;
    height:557px;
    text-align: center;
    padding-top: 18px;
}

