body {
	-webkit-user-select: none;
}

#frame {
	height: 500px;
	width: 550px;
	margin: 0px auto;
	color: black;
	background-color: transparent;
}

#toolbox {
	position: absolute;
}

#toolbox, #tools {
	height: 50px;
	width: 300px;
}

table, #currentColor {
	margin: 0px auto;
}

/* Tools */
#tools #save {
	margin-bottom: 16px;
}

#tools td, #tools div {
	border: 1px solid #6BABCE;
	background-color: white;
	text-align: center;
	cursor: pointer;
}

#tools div {
	width: 26px;
	margin: 0px auto;
}

#tools img {
	padding: 3px 5px;
	border: 1px solid white;
}

/* Colors */
#colors {
	margin-top: 40px;
	display: none;
}

#colors td {
	height: 20px;
	width: 20px;
	border: 1px solid #6BABCE;
	padding: 0px;
	cursor: pointer;
}

#currentColor {
	height: 40px;
	width: 40px;
	margin-top: 20px;
}

#nocanvas {
	margin: 50px;
	margin-left: 200px;
}